body {
	background-color: #E8e1d3;
	font-family: 'Nunito Sans', sans-serif;
}
 
  #metroImage{
	background-image: url("metro.png");
	background-size: 100px;
	width: 800px;
	height: 500px;
	border: solid 10px white;
	position: fixed;
	bottom: 300;
	left: 300;
	right: 300;
	top: 100;
}


#container{
	position: fixed;
	bottom: 5;
	left: 10;
	right: 10;
	height: 10%;
	display:flex;
	gap: 150px;
	justify-content: flex-start;
	align-content: start;
	align-items: start;
}

.sticky-note{
	width: 100px;
	height: 100px;
	background-color: white;
}

	
.note-text{
	width: 180px;
	height:180px;
	font-size: 20px;
}

#addButton{
	position: absolute;
	bottom: 90;
	left: 5;
	right: 1400;
	height: 1%;

}


#title{
	font-weight: bold;
	font-style: playfair;
}

